@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-background: #18181b;
  --color-primary: #21d760;
  --color-primary-light: #48e37e;
  --color-foreground: #fafafa;
  --color-foreground-light: #9f9fa9;
}

body {
  @apply font-roboto bg-background text-foreground antialiased;
}
